<div class="profile-container">
    <div *ngIf="userEmail" class="profile-details">
        <h3>Email: {{ userEmail || 'Not set' }}</h3>
    </div>

    <h1>Booking History</h1>

    <div *ngFor="let booking of bookings" class="booking-card">
        <div class="'booking-header">
            <span class="pnr">PNR: {{booking.pnr}}</span>
            <span class="status" [ngClass]="booking.status">{{booking.status}}</span>
        </div>
        <div class="booking-details">
            <p>Total Amount: Rs.{{booking.totalAmount}}</p>
        </div>

        <div class="legs">
            <div *ngFor="let leg of booking.legs" class="leg-info">
                <span>{{ leg.fromAirport }} ➔ {{ leg.toAirport }}</span>
                <span>{{ leg.departureTime | date:'short' }}</span>
            </div>
        </div>
        <button *ngIf="booking.status === 'BOOKED'" (click)="onCancel(booking.pnr)" class="cancel-btn">
            Cancel Booking
        </button>
    
    </div>
</div>