<div class="profile-container">
    <div class="profile-details">
        <h3>Email: {{ userEmail() || 'Not set' }}</h3>
    </div>

    <h1>Booking History</h1>

    <div *ngFor="let booking of bookings()" class="booking-card">
        <div class="booking-header">
            <span class="pnr">PNR: {{booking.pnr}}</span>
            <span class="status" [ngClass]="booking.status">{{booking.status}}</span>
        </div>
        <div class="booking-details">
            <p>Total Amount: Rs.{{booking.totalAmount}}</p>
        </div>
        
        <button *ngIf="booking.status === 'BOOKED'" (click)="onCancel(booking.pnr)" class="cancel-btn">
            Cancel Booking
        </button>
    </div>

    <div *ngIf="bookings().length === 0" class="no-data">
        <p>No booking history found.</p>
    </div>
</div>