<div class="profile-container">
    <div class="profile-header">
        <div class="profile-details">
            <h3>Account: {{ userEmail() || 'Not set' }}</h3>
        </div>
        <button routerLink="/change-password" class="btn-settings">
            Change Password
        </button>
    </div>

    <h1>Booking History</h1>

    <div *ngFor="let booking of bookings()" class="booking-card">
        <div class="booking-header">
            <span class="pnr">PNR: {{booking.pnr}}</span>
            <span class="status" [ngClass]="booking.status">{{booking.status}}</span>
        </div>
        <div class="booking-details">
            <p>Total Amount: Rs.{{booking.totalAmount}}</p>
        </div>
        
        <button *ngIf="booking.status === 'BOOKED'" 
                (click)="openCancelPopup(booking.pnr)" 
                class="cancel-btn">
            Cancel Booking
        </button>
    </div>

    <div *ngIf="bookings().length === 0" class="no-data">
        <p>No booking history found.</p>
    </div>

    <div class="modal-overlay" *ngIf="showModal()">
        <div class="modal-content">
            <h3>Confirm Cancellation</h3>
            <p>Are you sure you want to cancel booking <strong>{{ pnrToCancel() }}</strong>?</p>
            <div class="modal-actions">
                <button (click)="confirmCancellation()" class="btn-confirm">Yes, Cancel It</button>
                <button (click)="closePopup()" class="btn-close">Go Back</button>
            </div>
        </div>
    </div>
</div>